.nav-item{
    margin: 0x;
    padding: 10px 15px;
    color: black;
    
}

.nav-item:hover{
    color: skyblue;
}

.navbar-brand{

    margin-top: 3px;
    
}

.navbar{
    padding: 10px 10px;
    background-color: white;
}

.navbar-toggler{
    margin: 0px 0px;
    border-radius: 5px;
    border: solid 1px rgb(63, 63, 63);
}

.navbar-toggler-icon{
    color: black;
    color-adjust: black;
}

.btn{
    background-color: lightgrey;
}

.fa{
    font-size: 20px;
}